body{
background-color:lightgrey;
font-family:Arial, sans-serif;
}

h1{
  text-align:center;
}
.todo-list{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  border-radius:15px;
  padding:20px;
  max-width: 600px;
}
.item{
  margin-top:20px;
  background-color:lightblue;
  padding-bottom:20px;
  padding-top:15px;
  padding-left:15px;
  border-radius:15px;
}

ul li{
  list-style-type:square;
  list-style-position: inside;
}
.sub-item-link:link{
  color:blue;
  text-decoration:none;
}
.sub-item-link:visited{
  color:grey;
}
.sub-item-link:hover{
  color:black;
}
.sub-item-link:active{
  color:pink;
}
.sub-item-link:focus{
  border:1px solid red;
}