body{
  font-family:Arial;
background-color:lightgrey;
}

.blog-post-card{
  width:80%;
  max-width:600px; 
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  border-radius:20px;
  overflow:hidden;
}
.post-img{
  width:100%;
  border-bottom:5px solid black;
}
.read-more{
  text-decoration:none;
  display:inline-block;
  padding:15px;
  background-color:black;
  color:white;
  border-radius:10px;
  margin:10px;
}
.read-more:hover{
  background-color:gray;
}
.post-content{
  padding:15px;
}
.post-title{
  margin:5px;
  color:black;
}
.post-excerpt{
  margin:5px;
  color:grey;
}